@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.active {
  @apply text-white font-extrabold bg-blue-500 md:p-4 md:my-4 w-full md:rounded md:rounded-r-full
}

.linkNavigation {
  @apply p-1 md:p-4 md:my-1 w-full text-xl md:text-2xl flex items-center 
}